check process {{project_name}} with path "{{project_path}}/rel/{{project_name}}/bin/{{project_name}} ping"
       start program = "/bin/su - {{ deployer }} -c '"{{project_path}}/rel/{{project_name}}/bin/{{project_name}} start'"
       stop program = "/bin/su - {{ deployer }} -c '"{{project_path}}/rel/{{project_name}}/bin/{{project_name}} stop"'"
