upstream {{project_name}} {
    server localhost:{{app_port}};
}


server {
    root {{ project_path }}/priv/static;
    listen 80;
    {% if not domains %}
    server_name {% for domain in domains %} {{ domain }} {% endfor %};
    {% endif %}


    location / {
        proxy_pass http://{{project_name}};
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

}
