use Mix.Config

config :{{app_name}}, {{ app_endpoint_module }},
  secret_key_base: "{{ secret_key_base }}"


config :{{ app_name }}, {{ app_repo_module }},
  adapter: Ecto.Adapters.Postgres,
  username: "{{ database_user }}",
  password: "{{ database_password }}",
  database: "{{ database_name }}",
  size: 20
