check process nginx with pidfile /var/run/nginx.pid
       start program = "/etc/init.d/nginx start"
       stop program  = "/etc/init.d/nginx stop"
       {% for alert_email in nginx_alert_emails %}
         alert {{ alert_email }}
       {% endfor %}
